[
 {ewalker, [
    {output, "/public/filelist.atom"},
    {folders, [
       "/public"
       %, "/srv/dav"
    ]},
    {mappings, [
       ["http://hostname/public", "/public"]
       % ,{"http://hostname/dav/", "/srv/dav"} 
    ]}
    % ,{hoptoad_apikey, no_apikey_in_appfile}
  ]},
 {erlhoptoad, [
    {environment, "development"},
    {error_logger, true}
  ]}
].
